.Certifications{
    width: 100%;
    height: 15%;
    padding: 30px;
 
}
.titleCertifications{
    font-size: 2.1em;
    border-bottom: solid;
    border-width: 0.1px;
    
}

.titleCertifications h2{
    text-shadow: 2px 0 5px rgba(0, 0, 0, 0.432),
    -1px -1px 0 rgba(99, 99, 99, 0.562);
    margin-left: 40px;
    
 }
.infoCertifications{

    margin-top: 4%;
    display: flex;
    flex-direction: row;
    
}
.infoCertificationsBody{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
.infoCertifications h3{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2em;
    color: yellow;
    text-decoration: underline;
}

.infoAcademyFormation, .infoLanguages, .infoCourses{
    padding:10px;
    width: 100%;
    
}
.infoAcademyFormation ul, .infoLanguages ul, .infoCourses ul{
 
    list-style: none;

}
.infoAcademyFormation ul li, .infoLanguages ul li, .infoCourses ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.infoAcademyFormation ul li, .infoLanguages ul li, .infoCourses ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.subtitle{
    
    width: 25%;
}
.subtitle p{
    font-weight: bolder;
    font-size: 1.3em;
}
.subInfo{
    margin-right: 30%;
    width: 26%;
}
.subInfo p{
    font-size: 1.2em;
}

.imgCertifications{
    
    width: 30%;
    display: flex;
    
}
.imgCertifications img{
    align-self: center;
    width: 262px;
    height: 262px;
}

