.Certifications{
    width: 100%;
    height: 15%;
    padding: 30px;
    position: relative;
   
}

.Certifications.animation .titleCertifications h2{
    opacity: 1;
    transition: 2000ms;
}


.titleCertifications{
    font-size: 2.1em;
    
}

.titleCertifications h2{
    text-shadow: 2px 0 5px rgba(0, 0, 0, 0.432),
    -1px -1px 0 rgba(99, 99, 99, 0.562);
    margin-left: 40px;
    opacity: 0;
    transition: 0.5s;
    
 }


 
 .Certifications span{
    display: flex;
    align-self: center;
    justify-content: right;
    position: relative;
    width: 99%;
    border-width: 0.1px;
    color: white;
    border-bottom: solid;
    border-radius: 55px;
    opacity: 0;
}
 .Certifications.animation span{
    opacity: 1;
    animation: animatedUnderLineSubtitleCerti  2s   ;
}

@keyframes animatedUnderLineSubtitleCerti{
    0%{
        opacity: 0;
        width: 0%;
    }
    100%{
        opacity: 1;
        width: 99%;
    }
}

.infoCourses{
    position: relative;
}


.infoCertifications{
    width: 100%;
    position: relative;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    
}
.infoCertificationsBody{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
.infoCertifications h3{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2em;
    color: yellow;
    text-decoration: underline;
}

.infoAcademyFormation, .infoLanguages, .infoCourses{
    padding:10px;
    width: 100%;
    
}
.infoAcademyFormation ul, .infoLanguages ul, .infoCourses ul{
 
    list-style: none;

}
.infoAcademyFormation ul li, .infoLanguages ul li, .infoCourses ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.infoAcademyFormation ul li, .infoLanguages ul li, .infoCourses ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.subtitle{
    
    width: 25%;
}
.subtitle p{
    font-weight: bolder;
    font-size: 1.3em;
}
.subInfo{
    margin-right: 30%;
    width: 26%;
}
.subInfo p{
    font-size: 1.2em;
}

.imgCertifications{
    
    width: 30%;
    display: flex;
    
}
.imgCertifications img{
    align-self: center;
    width: 262px;
    height: 262px;
    
}
.infoCourses ul li div{
    position: relative;
    margin-top: 50px;
    
}
.certificate a{
    border-radius: 10px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: absolute;
    margin-left: -370px;
    transition: 0.3s;
}
.certificate a:hover{

    background-color: rgba(255, 127, 67, 0.884);
    transition: 0.8s;
}
.certificate a:hover img{
    transform:rotate(360deg);
    transition: 0.1s
}



.certificate a img{
    width: 100%;
    height: 100%;
}



.Certifications.animation .infoCertifications div:nth-child(2) img{
    transition:2000ms ;
    opacity: 1;
    animation: animatedImg 2s ease ;
}
.Certifications.animation .infoCertifications div p{
    transition:2000ms ;
    opacity: 1;
    animation: animatedText 2.5s ease ;
}
.Certifications.animation .infoCertifications div h3{
    transition:2000ms ;
    opacity: 1;
    animation: animatedText 2s ease ;
}



@keyframes animatedImg{
    0%{
        opacity: 0;
        transform: translateX(50%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes animatedText{
    0%{
        opacity: 0;
        transform: translateX(-50%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 1300px){

    


    .Certifications{ 
        height: 25%;
       
    }
    .titleCertifications{
        font-size: 1.8em;
        
    }

    .certificate a {
      margin-left: -100px;
    }
    .imgCertifications img{
        align-self: center;
        width: 170px;
        height: 180px;
    
    }

}

@media (max-width: 705px){

    


    .Certifications{ 
        height: 32%;
      
    }
    .titleCertifications{
        font-size: 1.6em;
        
    }
    .infoCertifications{
        width: 100%;
        position: absolute;
        left: 0;
    }

    .subtitle p{
        font-weight: bolder;
        font-size: 1.2em;
    }
    .subInfo p{
        font-size: 1em;
    }
    
    .imgCertifications {
       display: none;
    
    }
    

}
