.header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  
}
.menu.sticky{
     width: 100%;
    background: white;
    font-size: 1em;
    transition: 0.6s;
    padding: 25px 90px; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.651);
}
.menu.sticky li a{
    color: black;
}
.menu {
    transition: 0.6s;
    margin: 0;
    top: 0;
    z-index: 10;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
    padding: 40px 90px; 
    display: flex;
    font-size: 1.2em;
   
}
.menu li{
    position: relative;
}

.menu li a{
    color: #e2fffa;
    font-weight: 400;
    text-decoration: none;
}
.toggle{
    display: none;
}


@media (max-width: 992px){
    .menu li a{
        color: #000000;
 
    }
    .header{
        border-bottom: solid ;
        border-color: black;
        border-width: 0.1px;
    }

    .toggle
    {
      z-index: 10;
      display: block;
      position: relative;
      width: 30px;
      height: 30px;
      cursor: pointer;
     
    }
    .toggle:before
    {
      content: '';
      position: absolute;
      top: 4px;
      width: 100%;
      height: 2px;
      background: #000;
      z-index: 1;
      box-shadow: 0 10px 0 #000;
      transition: 0.5s;
    }
    .toggle:after
    {
      content: '';
      position: absolute;
      bottom: 4px;
      width: 100%;
      height: 2px;
      background: #000;
      z-index: 1;
      transition: 0.5s;
    }
    header.active .toggle:before 
    {
      top: 14px;
      transform: rotate(45deg);
      box-shadow: 0 0 0 #000;
    }
    header.active .toggle:after 
    {
      bottom: 14px;
      transform: rotate(-45deg);
    }
  
    header.active .toggle:before 
    {
      top: 14px;
      transform: rotate(45deg);
      box-shadow: 0 0 0 #000;
    }
    header.active .toggle:after 
    {
      bottom: 14px;
      transform: rotate(-45deg);
    }
  
    header ul
    {
      position: absolute;
      top: 200px;
      left: 0;
      width: 100%;
      height: calc(100vh);
      padding: 50px 100px;
      text-align: center;
      overflow: auto;
      visibility: hidden;
      opacity: 0;
    
    }
    header.active ul
    {
      display: block;
      background: #fff;
      visibility: visible;
      opacity: 1;
     
    }
    header.active ul li{
        margin-top: 10px;
    }
    header.active ul li a
    {
       
    
      font-size: 24px;
    }
    header,
    header.sticky
    {
      padding: 5px 50px;
      background: #fff;
    }
  
  }