.Software{
    width: 100%;
    height: 10%;
    padding: 30px;
    position: relative;
   
    
}

.titleSoftware{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    font-size: 2.1em;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
 
}

.Software.animation .titleSoftware{
    opacity: 1;
    transition: 2s;
}
.Software span{
    display: flex;
    margin: auto;
    align-self: center;
    position: relative;
    width: 99%;
    border-width: 0.1px;
    height: 0.1px;
    border-bottom: solid;
    border-radius: 50%;
    opacity: 1;
}
.Software.animation span{
    opacity: 1;
    animation: animatedUnderLineSubtitle 1s ;
}
@keyframes animatedUnderLineSubtitle{
    0%{
        opacity: 0;
        width: 0%;
    }
    100%{
        opacity: 1;
        width: 99%;
    }
}

.titleSoftware h2{
    text-shadow: 2px 0 5px rgba(0, 0, 0, 0.432),
    -1px -1px 0 rgba(99, 99, 99, 0.562);
    margin-left: 40px;
    
 }
.iconsSoftware{
    margin-top: 8%;
  
} 

.iconsSoftware ul{
    width: 100%;
    overflow: hidden;
    
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  

}
.iconsSoftware ul li{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.iconsSoftware ul li:hover {
    transform: rotate(360deg);
    transition: 1s;
}
.iconsSoftware ul li img{
    align-self: center;
    width: 90px;
    height: 80px;
}
.iconsSoftware ul li:nth-child(7) img{
    width: 105px;
}
.iconsSoftware ul li:nth-child(8) img{
    width: 105px;
}
.iconsSoftware ul li:nth-child(13) img{
    height: 77px;
    width: 85px;
}
.Software.animation .iconsSoftware ul li{
    opacity: 1;
}
.Software.animation .iconsSoftware ul li:nth-child(1){
    animation: animatedIcons1 2s  backwards;
    animation-delay: 0.15s
}
.Software.animation .iconsSoftware ul li:nth-child(3){
    animation: animatedIcons1 2s  backwards;
    animation-delay: 0.55s;
}
.Software.animation .iconsSoftware ul li:nth-child(5){
    animation: animatedIcons1 2s  backwards;
    animation-delay: 1.05s;
}
.Software.animation .iconsSoftware ul li:nth-child(7){
    animation: animatedIcons1 2s  backwards;
    animation-delay: 1.55s;
}
.Software.animation .iconsSoftware ul li:nth-child(9){
    animation: animatedIcons1 2s  backwards;
    animation-delay: 2.30s;
}
.Software.animation .iconsSoftware ul li:nth-child(11){
    animation: animatedIcons1 2s  backwards;
    animation-delay: 2.80s;
}
.Software.animation .iconsSoftware ul li:nth-child(13){
    animation: animatedIcons1 2s  backwards;
    animation-delay: 3.3s;
}



.Software.animation .iconsSoftware ul li:nth-child(2){
    animation: animatedIcons2 2s  backwards;
    animation-delay: 0.3s;
}
.Software.animation .iconsSoftware ul li:nth-child(4){
    animation: animatedIcons2 2s  backwards;
    animation-delay: 0.7s;
}
.Software.animation .iconsSoftware ul li:nth-child(6){
    animation: animatedIcons2 2s  backwards;
    animation-delay: 1.3s;
}
.Software.animation .iconsSoftware ul li:nth-child(8){
    animation: animatedIcons2 2s  backwards;
    animation-delay: 1.8s;
}
.Software.animation .iconsSoftware ul li:nth-child(10){
    animation: animatedIcons2 2s  backwards;
    animation-delay: 2.3s;
}
.Software.animation .iconsSoftware ul li:nth-child(12){
    animation: animatedIcons2 2s  backwards;
    animation-delay: 2.8s;
}

@keyframes animatedIcons1{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    } 
  
}
@keyframes animatedIcons2{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    } 
  
}

@media (max-width: 1400px){

    .Software{
        margin-top: 200px;
    }
}



@media (max-width: 992px){
    .Software{
        margin-top: 100px;
    }
    .titleSoftware{
        font-size: 1.8em;    
    }
    .iconsSoftware ul{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 15px;
      
    
    }

    .iconsSoftware ul li:nth-child(13){
        grid-row: 4/4;
        grid-column: 2/4;
    }
    .Software{ 
        height: 10%; 
    }
}

@media (max-width: 705px){
    .Software{
        margin-top: 200px;
    }

    .titleSoftware{
        font-size: 1.6em;    
    }
    
    
}
@media (max-width:505px){
   
    .Software{
        margin-top: 100px;
        margin-bottom: -100px;
      
    }
    .titleSoftware{
        width: 120%;
        margin-left: -45px;
       
        font-size: 1.4em;    
    }
    /* .Software .iconsSoftware{
        opacity: 0;
    }
    .Software.animation .iconsSoftware{
        opacity: 1;
        transition: 2s;
    }
    
@keyframes animatedIcons1{
    0%{
       
    }
    100%{
     
    } 
  
}
@keyframes animatedIcons2{
    0%{
     
    }
    100%{
   
    } 
  
} */

    .iconsSoftware ul li img{
        align-self: center;
        width: 50px;
        height: 50px;
    }
    .iconsSoftware ul li:nth-child(7) img{
        width: 65px;
    }
    .iconsSoftware ul li:nth-child(8) img{
        width: 65px;
    }
  
    .iconsSoftware ul li:nth-child(13) img{
        height: 47px;
        width: 55px;
    }
   
}
@media (max-width:355px){
    .Software{
        margin-top: 300px;
      
    }
}