.WhoAmI{
    width: 100%;
    height: 15%;
    padding: 30px;
    position: relative;
}
.WhoAmI span{
    display: flex;
    align-self: center;
    position: relative;
    width: 99%;
    border-width: 0.1px;
    height: 0.1px;
    border-bottom: solid;
    border-radius: 55px;
    opacity: 0;
}
.WhoAmI.animation span{
    opacity: 1;
    animation: animatedUnderLineSubtitle 2s ;
}
@keyframes animatedUnderLineSubtitle{
    0%{
        opacity: 0;
        width: 0%;
    }
    100%{
        opacity: 1;
        width: 99%;
    }
}


.WhoAmI.animation .titleWhoAmI {
    text-shadow: 2px 0 5px rgba(0, 0, 0, 0.432),
     -1px -1px 0 rgba(99, 99, 99, 0.562);
 
    opacity: 1;
    transition:2000ms ;
}

.titleWhoAmI{
    margin-top: 100px;
    transition:2000ms ;
    opacity: 0;
    font-size: 2.1em;
}

.titleWhoAmI h2{
   margin-left: 40px;
    
}
.infoWhoAmI{
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.infoWhoAmI div:nth-child(1){
    position: absolute;
    left: 100px;
    width: 50%;
}
.infoWhoAmI div:nth-child(1) p{
    transition:2000ms ;
    opacity: 0;
    line-height: 1.5em;
    font-size: 1.6em;
}
.infoWhoAmI div:nth-child(2) img{
    position: absolute;
    right: 160px;
    transition:2000ms ;
    opacity: 0;
    margin-top: 110px;
    width: 262px;
    height: 262px;
}


.WhoAmI.animation .infoWhoAmI div:nth-child(2) img{
    transition:2000ms ;
    opacity: 1;
    animation: animatedImg 2s ease ;
}

.WhoAmI.animation .infoWhoAmI div:nth-child(1) p{
    transition:2000ms ;
    opacity: 1;
    animation: animatedText 3s ease ;
}

@keyframes animatedImg{
    0%{
        opacity: 0;
        transform: translateX(50%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes animatedText{
    0%{
        opacity: 0;
        transform: translateX(-50%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}



@media (max-width: 992px){

    .titleWhoAmI{
        
        transition:2000ms ;
        opacity: 0;
        font-size: 1.8em;
    }
 

    .infoWhoAmI div:nth-child(1){
        margin: 0;
        width: 65%;
        left: 60px;
    }
    .infoWhoAmI div:nth-child(1) p{
        transition:2000ms ;
        opacity: 0;
        line-height: 1.5em;
        font-size: 1.4em;
    }
    .infoWhoAmI div:nth-child(2) img{
        margin-top: 160px;
        right: 15px;
        width: 170px;
        height: 180px;
    }
    
}

@media (max-width: 705px){
    .titleWhoAmI{
        
          font-size: 1.6em;
    }
 
    .infoWhoAmI div:nth-child(1){
        margin: 0;
        width: 70%;
    }


    .infoWhoAmI div:nth-child(2) img{
        top: -60px;
        margin-top: 160px;
        right: 40px;
        width: 100px;
        height: 100px;
    }
    
}
@media (max-width: 505px){
    .WhoAmI{
        height: 20%;
    
    }
    .titleWhoAmI{    
        font-size: 1.4em;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-left: -25px;
    }
    .infoWhoAmI div:nth-child(1){
        position: absolute;
        left: 25px;
        text-align: left; 
        width: 90%;
    }


    .infoWhoAmI div:nth-child(2) img{
      display: none;
    }

}