.Works{

    margin-top: 45%;
    margin-bottom: 0;
    width: 100%;
    height: 13%;
    padding: 30px;
    position: relative;
    
    
}
.titleWorks{
    font-size: 2.1em;
}
.titleWorks h2{
   margin-left: 40px;
   text-shadow: 2px 0 5px rgba(0, 0, 0, 0.432),
   -1px -1px 0 rgba(99, 99, 99, 0.562);
   opacity: 0;
   transition: 0.5s;
}

.Works.animation .titleWorks h2{
    opacity: 1;
    transition: 2000ms;
}

.Works .underLine{
    display: flex;
    align-self: center;
    justify-content: right;
    position: relative;
    width: 99%;
    border-width: 0.1px;
    color: white;
    border-bottom: solid;
    border-radius: 55px;
    opacity: 0;
}
 .Works.animation .underLine{
    opacity: 1;
    animation: animatedUnderLineSubtitleWorks  2s  ease  ;
}

@keyframes animatedUnderLineSubtitleWorks{
    0%{
        opacity: 0;
        width: 0%;
    }
    100%{
        opacity: 1;
        width: 99%;
    }
}



.infoWorks{
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    
}
.Works.animation .infoWorks {
    opacity: 1;
}

.infoWorks h3{
    margin-top: 5%;
}

.infoWorks a{
    overflow-y: hidden;
    color: black;
    justify-content: center;
    position: relative;
    border: solid;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    height: 100px;
    width: 90%;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.788);
    border: none;
    opacity: 0;
}
.Works.animation .infoWorks a{
    opacity: 1;
}
.infoWorks a:hover{
    transition: 0.8s;
    border-radius: 10px;
}


.Works.animation .infoWorks a:nth-child(2){
    animation: animatedBlockWorks 2s backwards;
    
}
.Works.animation .infoWorks a:nth-child(4) {
    animation: animatedBlockWorks 2s backwards;
    animation-delay: 0.5s ;
}
@keyframes animatedBlockWorks{
    0%{
        opacity: 0;
        border-radius: 10px;
        font-size: 10px;
        width: 0%;
    }
    100%{
        border-radius: 50px;
        font-size: 30px;
        opacity: 1;
        width: 90%;
    }
}

.infoWorks a img{
    width: 70px;
    height: 70px;
    left: 0;
    position: absolute;
    margin-left: 5%;
}
.Works.animation .infoWorks img{
    animation: animatedImgWorks 2s backwards;
    animation-delay: 2s;
}
@keyframes animatedImgWorks{
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
     
    }
}
.Works.animation .infoWorks h3:nth-child(1){
    animation: animatedSubtitle 2s ease;
}
.Works.animation .infoWorks h3:nth-child(3){
    animation: animatedSubtitle 2s backwards;
    animation-delay: 0.6s;
}

@keyframes animatedSubtitle{
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
     
    }
}

@media (max-width: 992px){
    
    @keyframes animatedBlockWorks{
        0%{
            opacity: 0;
            border-radius: 10px;
         
            width: 30%;
        }
        100%{
            border-radius: 50px;
        
            opacity: 1;
            width: 90%;
        }
    }

    .Works{
        margin-top: 40%;
        
    }
    .titleWorks{
    
        font-size: 1.8em;
        
    }


    .infoWorks{
        margin-top: 6%;
     
        
    }
    
    .infoWorks h3{
        margin-top: 10%;
    }
    
    .infoWorks a{
        
        height: 80px;
        width: 90%;
        font-size: 20px;

    }
}

@media (max-width: 705px){
    @keyframes animatedBlockWorks{
        0%{
            opacity: 0;
            border-radius: 10px;
         
            width: 30%;
        }
        100%{
            border-radius: 50px;
        
            opacity: 1;
            width: 100%;
        }
    }

    .Works{
        margin-top: 0%;
        width: 100%;
        
        
    }
    .infoWorks h3{
        text-align: center;
    }

    .infoWorks a{
        
        height: 80px;
        width: 100%;
        font-size: 16px;

    }
    .infoWorks a img{
        width: 50px;
        height: 50px;
    
    }
    .titleWorks{
    
        font-size: 1.6em;
        
    }

}
@media (max-width: 505px){

    
    .infoWorks h3{
       margin-top: 20%;
    }
   
    .infoWorks a img{
        display: none;
    
    }
    .titleWorks{
    
        font-size: 1.4em;
        
    }

}
@media (max-width: 355px){
    .Works{
        margin-top: 20%;
    
        
        
    }
    .titleWorks h2{
        margin: auto;
        text-align:center;
        
        
    }
}