.top{
    background-color: tomato;
    height: 100%;
    background-image: url("../coding.png");
    min-height: 970px;
    background-size: cover;
    border-bottom: solid;
    border-color: white;
}
.container-title{
    width: 100%;
    height: 970px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
   
    color: white;
    font-family: 'Montserrat', sans-serif;
    line-height: 0;
    width: 60%;
    display: flex;
    flex-direction: column;
    
    text-align: center;
}
.title span{
    border: solid;
    border-width: 0.1px;
    height: 0.1px;
}

.title p:nth-child(1){
    font-size: 40px;
    font-weight: 300;
}
.title p:nth-child(2){
    margin-top: 20px;
    font-size: 70px;
    font-weight: bold;
}
.title p:nth-child(4){
    font-weight: 400;
    font-size: 40px; 
}
.containerPicture{
    position: absolute;
    width: 100%;
    height: 200px;
    margin-top: -100px;
    background-color: none;
    margin-bottom: 20%;
    display: flex;
    justify-content: center;
}

.myPicture{
    align-self: center;
    display: flex;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: white;
    position: relative;
}
.myPicture img{
    margin: auto;
    width: 90%;
    height: 90%;
    justify-content: center;
    align-self: center;
    display: flex;
}