@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
*{
  
  padding: 0;
  box-sizing: border-box;   
  
}
html
{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.container{
    position: relative;
   
    
}
.desactivated{
  display: none;
}

.top_button{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  top: 30%;
  padding: 25px;
  background-color: aliceblue;
  opacity: 0.8;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.top_button a{
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}
.top_button a img{
  width: 65%;
  height: 65%;
}

@media (max-width: 505px){
  .top_button{
    padding: 20px;
  }
}
